<footer>
    <nav>
        <ul>
            <li><a href="/">home</a></li>
            <li><a href="/portfolio">portfolio</a></li>
            <li><a href="/travel">travel</a></li>
            <li><a href="#">résumé</a></li>
            <li><a href="#">contact</a></li>
        </ul>
    </nav>
    <ul class="fine-print">
        <li>copyright © {{publish.year}}, Joseph Clark</li>
        <li>last updated {{publish.date}}</li>
        <li>build <a target="_blank" href="{{publish.url}}">{{publish.shortHash}}</a>
        <li>&nbsp;</li>
        <li>globe icon made by <a href="https://www.flaticon.com/authors/prettycons" title="prettycons">prettycons</a>
            from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> - licensed by <a
                href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC
                3.0 BY</a></li>
    </ul>
</footer>