<footer>
    <ul class="fine-print">
        <li>copyright © {{publish.year}}, Joseph Clark</li>
        <li>build <a target="_blank" href="{{publish.url}}">{{publish.shortHash}}</a> | updated {{publish.date}}</li>
        <li>&nbsp;</li>
        <li><span>Header image by <a href="https://unsplash.com/@aridley88?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Andrew Ridley</a> on <a href="https://unsplash.com/?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Unsplash</a></span></li>
        <li>Some icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></li>
    </ul>
</footer>