<header>
        <nav>
            {{#if showHero }}
            <div class="hero">
            </div>
            {{/if}}
            <ul>
                {{> breadcrumb crumbPath="/" crumbName="Home"}}
                {{> breadcrumb crumbPath="/portfolio" crumbName="Portfolio"}}
                {{> breadcrumb crumbPath="/travel" crumbName="Travel"}}
                {{!-- <li>Resume</li>
                <li>Contact</li> --}}
            </ul>
        </nav>
    </header>