{{{ fm.md }}}

{{#if fm.attributes.liveUrl}}
    <div class="button-container">
        <a class="cta-button" href="{{fm.attributes.liveUrl}}">Try it out</a>
    </div>
{{/if}}

{{#if fm.attributes.hero }}
<div class="blogimg">
    <hr />
    <img src="{{ fm.attributes.hero.url }}" />
    <p>{{ fm.attributes.hero.description }}</p>
</div>
{{/if}}