{{!--  TODO: Reconcile this template with the 'home' layout --}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1,user-scalable=no" />
    <meta name="description" content="{{ fm.attributes.description }}" />
    <title>{{ fm.attributes.title }} | jaysee.id.au</title>
    <link rel="stylesheet" href="/theme.css" />
    <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet" />
    <link rel="shortcut icon" href="/favicon.ico" />
    <link href="/flag-icon-css/css/flag-icon.min.css" rel="stylesheet" />

    {{#if fm.attributes.coords}}
    <script src="https://api.mapbox.com/mapbox-gl-js/v2.0.0/mapbox-gl.js"></script>
    <link href="https://api.mapbox.com/mapbox-gl-js/v2.0.0/mapbox-gl.css" rel="stylesheet" />
    {{/if}}
</head>

<body>
    {{> header showHero=false}}
    <main>
        <h1>{{ fm.attributes.title }}</h1>
        {{> (lookup . "bodyTemplate") }}
    </main>
   {{> footer}}
</body>
</html>
