/* Site styles - copied from old site */

html {
    /* https://leaverou.github.io/css3patterns/#weave */
    background: linear-gradient(135deg, #708090 21px, #d9ecff 22px, #d9ecff 24px, transparent 24px, transparent 67px, #d9ecff 67px, #d9ecff 69px, transparent 69px), linear-gradient(225deg, #708090 21px, #d9ecff 22px, #d9ecff 24px, transparent 24px, transparent 67px, #d9ecff 67px, #d9ecff 69px, transparent 69px)0 64px;
    background-color: #708090;
    background-size: 64px 128px;
}

a:visited {
    color: rgb(0, 0, 238);
}

body {
    font-family: 'Muli', sans-serif;
}


/** TODO: Refactor me! **/

p.main {
    height: 80%;
}


/* Body styles */

main {
    background-color: white;
    padding: 32px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    min-width: 300px;
    width: 600px;
    min-height: 400px;
    border: 1px solid grey;
    box-shadow: 5px 5px 5px grey;
    border-radius: 5px;
    display: flex;
    flex-flow: column;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


/* Main nav */

nav ul {
    list-style-type: none;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    padding-left: 0;
}

nav li:after {
    content: "\00A0 · \00A0";
}

nav li:last-child:after {
    content: "";
}


/* Footer */

footer {
    padding-top: 100px;
    color: #ccc;
}

.fine-print {
    list-style-type: none;
    text-align: center;
    font-size: 0.75em;
}

.fine-print a {
    color: #b4dcff;
}


/** Travel Section **/

.location-summary {
    list-style-type: none;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid lightgray;
}

.location-elements {
    list-style-type: none;
    padding: 0;
    color: #777777;
    font-size: 0.9em;
}

.location-summary h3 a {
    color: #344563;
}

.location-body {
    padding-left: 20px;
}

.element-location:before {
    content: "🌎";
}

.element-date:before {
    content: "📅";
}


/* Breadcrumbs */

.breadcrumbs {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    padding-left: 0;
}

.breadcrumbs li:before {
    content: "/"
}

.breadcrumbs a {
    padding-left: 5px;
    padding-right: 5px
}

.breadcrumb:last-child a,
.breadcrumb:last-child a:visited,
.breadcrumb:last-child a:hover,
.breadcrumb:last-child a:focus,
.breadcrumb:last-child a:active {
    color: grey;
    text-decoration: none;
    cursor: default;
}


/* Hero image */

.hero {
    width: 80%;
    margin: auto;
}

.hero img {
    width: 100%;
    box-shadow: 5px 5px 5px grey;
    border: 1px solid grey;
}

.hero p {
    color: grey;
    font-size: 0.9em;
    text-align: center;
}

.hero hr {
    width: 100%;
    margin-bottom: 20px;
}


/* Maps */

#map {
    width: 80%;
    height: 300px;
    margin: auto;
}